extends layout

block page-layout
	.header
		h1.logotype
			a(href='/dashboard') Knowledge Base
		
		.btn-group.user-actions
			a.btn(href='/user/profile') #{user}
			button.btn.dropdown-toggle(data-toggle='dropdown')
				span.caret
			ul.dropdown-menu.pull-right
				li
					a(href='/user/profile')
						i.icon.icon-user
						span.action-text Profile
				li
					a(href='/user/settings')
						i.icon.icon-cog
						span.action-text Settings
				li.divider
				li
					a(href='/logout')
						i.icon.icon-off
						span.action-text Logout

	nav#accordion.side-nav
		ul
			li.active 
				a(href='#')
					i.icon.icon-home
					span Dashboard
			li
				a(href='#', data-toggle='collapse', data-target='#document', data-parent='#accordion').accordion-toggle
					i.icon.icon-file
					span Document
					i.more-content.icon.icon-chevron-down
				ul#document.second-lvl.collapse
					li
						a(href='/document/new') Create
					li
						a(href='#') Edit
					li
						a(href='#') Delete
			li 
				a(href='#')
					i.icon.icon-tags
					span Awesome Option
			li 
				a(href='#')
					i.icon.icon-tags
					span Awesome Option
			li
				a(href='#', data-toggle='collapse', data-target='#awesomeOption', data-parent='#accordion').accordion-toggle
					i.icon.icon-tags
					span Tags
					i.more-content.icon.icon-chevron-down
				ul#awesomeOption.second-lvl.collapse
					li
						a(href='/tag/new') Create
					li
						a(href='#') awesome option 2
					li
						a(href='#') awesome option 3
			li 
				a(href='#')
					i.icon.icon-tags
					span Awesome Option
			li 
				a(href='#')
					i.icon.icon-tags
					span Awesome Option
			li 
				a(href='#')
					i.icon.icon-tags
					span Awesome Option

	block page-content-wrap
	.page-content
		.content-header
			h1.content-title #{title}
		.container-fluid
			block page-content