extends base

block page-content
	p this is dashboard page content

	article.row
		.span14
			- if (documents.length)
				table.zebra-striped
					thead
						tr
							th Title
							th Body
							th Tags
							th Date
					tbody
					- documents.forEach(function(doc){
						tr
							td= doc['title']
							td= doc['body']
							td= doc['tags']
							td= doc['date']
					- })
			- else
				p No documents created yet.