doctype 5
html
	head
		title= title
		link(href='/stylesheets/style.css', rel='stylesheet')
		link(href='/stylesheets/bootstrap.css', rel='stylesheet')
		script(src='/javascripts/jquery.min.js', type='text/javascript')
		script(src='/javascripts/bootstrap.js', type='text/javascript')
		script(src='/javascripts/knowledgebase.fx.js', type='text/javascript')

	body		

	block login-form

	block page-header

	block side-navigation

	block page-content