extends layout

block page-layout
	.login-form
		.login-header Knowledgebase Login	
		form#login-form.form-horizontal(method='post', action='/login')
			.control-group
				label.control-label(for='input-username') Username
				.controls
					.input-prepend
						span.add-on
							i.icon-user
						input(id='input-username', name='username', type='text', placeholder='Username', required)
			.control-group
				label.control-label(for='input-password') Password
				.controls
					.input-prepend
						span.add-on
							i.icon-lock
						input(id='input-password', name='password', type='password', placeholder='Password', required)
			.control-group
				.controls
					button#btn-login.btn(type='submit') Sign in
			.control-group
				a(href='/user/new') Sign Up
			.control-group
				a(href='/user/list') Users List

			//-
				section#UserInput
					a Backbone demo
				ol#HelloList

	
	- if (locals.error && locals.error != "")
		.alert.alert-error.login-message
			button.close(data-dismiss='alert') x
			strong Error:
			span= error

	- if (errors.length)
		.alert.alert-error.login-message
			button.close(data-dismiss='alert') x
			strong Error:
			- errors.forEach(function(error){
				.alert-message.error= error
			- })

	- if (messages.length)
		.alert.alert-success.login-message
			button.close(data-dismiss='alert') x
			- messages.forEach(function(message){
				.alert-success.success= message
			- })