/* GLOBAL COLORS ==================*/
/* MIXINS ==================*/
/* GLOBAL STYLES ==================*/
body {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #555555 !important;
}
/* PAGE HEADER ==================*/
.header {
  width: 100%;
  height: 75px;
  background: #555555;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #474747), color-stop(1, #555555));
  background: -ms-linear-gradient(bottom, #474747, #555555);
  background: -moz-linear-gradient(center bottom, #474747 0%, #555555 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#474747', GradientType=0);
}
.header .logotype {
  position: relative;
  top: 16px;
  left: 29px;
  margin: 0;
  color: #ffffff;
  display: inline-block;
  font-size: 18px;
}
.header .logotype a {
  color: #FFFFFF;
  text-decoration: none;
}
/* SIDE NAVIGATION ==================*/
.side-nav {
  float: left;
  width: 220px;
}
.side-nav > ul {
  list-style: none;
  margin: 0px;
  padding: 0;
  width: 220px;
  border-bottom: 1px solid #4E4E4E;
  border-top: 1px solid #393939;
  background: #444444;
}
.side-nav > ul > li {
  line-height: 20px;
}
.side-nav > ul > li.active {
  background: #333333;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #333333), color-stop(1, #3f3f3f));
  background: -ms-linear-gradient(bottom, #333333, #3f3f3f);
  background: -moz-linear-gradient(center bottom, #333333 0%, #3f3f3f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3f3f3f', endColorstr='#333333', GradientType=0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) inset;
}
.side-nav > ul > li a {
  color: #AAAAAA;
  display: block;
  padding: 10px 0 10px 15px;
  text-decoration: none;
  border-bottom: 1px solid #393939;
  border-top: 1px solid #4E4E4E;
}
.side-nav > ul > li a .icon {
  margin-right: 10px;
  background-image: url("../images/glyphicons-halflings-white.png");
  margin-top: 2px;
  opacity: 0.5;
  vertical-align: top;
}
.side-nav > ul > li a .more-content {
  float: right;
}
.side-nav > ul .second-lvl {
  margin: 0px;
}
.side-nav > ul .second-lvl > li {
  background: #2A2A2A;
}
.side-nav > ul .second-lvl > li a {
  border-bottom: 1px solid #202020;
  border-top: 1px solid #333333;
  color: #777777;
  padding: 10px 0 10px 39px;
}
.side-nav > ul > li:not(.active) > a:hover {
  background-color: #4A4A4A;
}
.side-nav > ul > li:not(.active) > a:hover .icon {
  opacity: 0.8;
}
.side-nav > ul .second-lvl > li:not(.active-second-lvl) > a:hover {
  background-color: #272727 !important;
  color: #aaa;
}
/* FORM/LOGIN ==================*/
.login-form {
  padding-bottom: 20px;
  width: 470px;
  background-color: #FAFAFA;
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1) inset, 0 1px 10px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: 0px auto;
  margin-top: 50px;
}
.login-form .login-header {
  background-color: #e7e7e7;
  border-bottom: 1px solid #e3e3e3;
  margin-bottom: 20px;
  padding: 10px;
  color: #666;
  font-size: 16px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.login-message {
  width: 420px;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
}
/* PAGE CONTENT ==================*/
.page-content {
  background-color: #eee;
  border-top-left-radius: 8px;
  margin-left: 220px;
  margin-right: 0;
  min-height: 500px;
  padding-bottom: 25px;
  position: relative;
  width: auto;
}
.page-content .content-header {
  background: #ffffff;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ffffff), color-stop(1, #eeeeee));
  background: -ms-linear-gradient(bottom, #ffffff, #eeeeee);
  background: -moz-linear-gradient(center bottom, #ffffff 0%, #eeeeee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0);
  border-top-left-radius: 8px;
  height: 40px;
  line-height: 40px;
  margin-top: -38px;
  width: auto;
}
.page-content .content-header .content-title {
  font-size: 24px;
  margin: 0;
  font-weight: normal;
  display: inline-block;
  text-indent: 20px;
}
/* UI COMPONENTS ==================*/
.user-actions {
  float: right;
  margin-right: 15px;
  margin-top: 3px;
}
.user-actions .action-text {
  margin-left: 10px;
}
